---
title: Classes
subTitle: API
nav: docs
description: Owl Carousel Documentation

sort: 2
tags:
- API
---

{{#markdown }}
## Classes

This is an example of how html is rendered. With the following options you can change almost every class the way you want


```
<div className="owl-carousel owl-theme owl-loaded">
    <div className="owl-stage-outer">
        <div className="owl-stage">
            <div className="owl-item">...</div>
            <div className="owl-item">...</div>
            <div className="owl-item">...</div>
        </div>
    </div>
    <div className="owl-nav">
        <div className="owl-prev">prev</div>
        <div className="owl-next">next</div>
    </div>
    <div className="owl-dots">
        <div className="owl-dot active"><span></span></div>
        <div className="owl-dot"><span></span></div>
        <div className="owl-dot"><span></span></div>
    </div>
</div>
```
### Options

{{#each classes}}
#### {{name}}

Type: `{{type}}`<br />
Default: `{{Default}}`

{{desc}}

------
{{/each}}



### Next Step

####[Events](api-events.html)

{{/markdown }}

