*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family:'Montserrat', sans-serif;
    
}
img {
    width: 100%;
    display: block;
}
        /* header */
#header {
    position: fixed;
    height: 80px;
    background-color:rgb(249, 249, 249) ;
    z-index: 10;
    top: 0;
    right: 0;
    left: 0;
}
#header .container {
    
}
#header .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 250px;
}
#header .logo {
    line-height: 80px;
    font-family: 'Oleo Script Swash Caps', sans-serif;
    cursor: pointer;
    font-size: 45px;
    opacity: 0.7;
    color: #ad974f;
}
#header .list-nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    line-height: 80px;  
}
#header .nav-item {
    padding: 0 16px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.73);
    cursor: pointer;
    text-decoration: none;
}
#header .nav-item:hover {
    opacity: 0.7;
}
#header .icon-mes {
    font-size: 20px;
}
/* Slider */
#slider .slider-img {
    position: relative;
    height: 365px;
    overflow: hidden;
    object-fit: cover;
    filter: brightness(50%);
}
#slider .slider-info {
    position: absolute;
    top: 220px;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 16px;
    font-weight: 600;
    color: #ad974f;
    opacity: 0.9;
}
#slider .slider-info a {
    color: #fff;
    opacity: 0.9;
    font-weight: 500;
    text-decoration: none;
}
.slider-heading {
    position: relative;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 4px;
    text-align: center;
    padding: 12px;
}
.slider-heading::after{
    content: '';
    position: absolute;
    border-bottom: 1.5px solid #ad974f;
    width: 80px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
/* Content */
#content .content-heading {
    padding: 100px 0;
    text-align: center;
}
#content .content-info-1 {
    font-size: 40px;
    font-weight: 400;
    opacity: 0.8;
    margin: 30px;
   
}
#content span {
    color: #ae9952;
}
#content .content-info-2 {
    line-height: 1.8;
    opacity: 0.7;
    
}
#content .content-img {
    filter: brightness(45%);
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: 40px;
}
#content .content-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    margin-top: 50px;
}
#content .content-card {
    position: relative;
    width: 350px;
    height: 470px;
    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
    transition: all 0.5s;
}

#content .card-title {
    position: absolute;
    width: 100%;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    text-align: center;
}
#content .card-info {
    padding-top: 20px;
    font-size: 24px;
    font-weight: 500;
}
#content .detail {
    color: #fff;
    position: absolute;
    text-align: center;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
    
}
#content .cost {
    font-size: 20px;
    margin-bottom: 20px;
}
#content .btn-oder {
    background-color: red;
    padding: 8px 10px;
    border-radius: 5px;
}
#content .btn-oder:hover {
    background-color: #000;
}
#content .content-card:hover .detail {
    display: block;
    
}
#content .content-card:hover {
    transform: scale(1.085);
}
/* Footer */
#footer {
    background: url(/Page_demo/assets/img/background-footer.jpg) bottom;
    height: 360px;
}
#footer .footer-item {
    font-size: 40px;
    padding: 0 12px;
    color: #ad974f;
}
#footer .footer-icon{
    padding: 25px 0;
    text-align: center;
}
#footer .slider-heading {
    padding-top: 150px;
}
#footer .footer-item:hover {
    opacity: 0.8;
    
}
