<div id="features">
	<div className="row">
		<div className="small-12 medium-9 small-centered columns">
			{{#each features}}
			<section className="row feature">
				<div className="medium-4 small-12 columns">
					<img src="{{../assets}}/img/{{image}}" alt="">
				</div>
				<div className="medium-8 small-12 columns">
					<h2>{{title}}</h2>
					<p>{{subtitle}}</p>
				</div>
			</section>
			{{/each}}
		</div>
	</div>
</div>