@import url('https://fonts.googleapis.com/css2?family=Devonshire&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

:root {
    --blue:#E9EEF8;
    --white:#fff;
    --semi-white:#f2f2f2;
    --black:#000;
    --semi-black:#474646;
    --red:#E12222;
    --boder:0.5px solid #474646;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color:var(--semi-black);
}

ul {
    list-style-type: none;
    margin: 0;
}

li {
    padding: 0;
}

a {
    color: var(--semi-black);
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    padding: 0;
}

.btn-more:hover {
    color: var(--red);
}

/* Header */
.main-menu {
    background-color: var(--red);
}

#header .hello {
    font-size: 14px;
}

.menu-bar {
    display: none;
    padding: 0 8px;
}


.logo {
    font-family: 'Devonshire', cursive;
    font-size: 40px;
    cursor: pointer;
}


.navbar-icon {
    display: flex;
    height: 100%;
}
.subnav a {
    padding: 8px 10px;
    
    color:var(--white);
}

.subnav-tablet {
    display: none;
}
.subnav {
    
    display: flex;
    justify-content: center;
    align-items: center;
} 

.subnav .menu-item:hover {
    background-color: var(--black);
    color: var(--white);
    cursor: pointer;
}

.input { 
    border-radius: 5px ;
    font-size: 16px;
}

.input::placeholder {
    padding-left: 10px;
}

.icon span {
    font-size: 22px;
}

.input {
    border: var(--boder);
}

.icon span:hover {
    color: var(--red);
    cursor: pointer;
}
.bag {
    position: relative;
}

.amount {
    position: absolute;
    top: -12px;
    left: 18px;
    font-size: 16px;
}

.search {
    position: relative;
}
.search-icon {
    position: absolute;
    top: 1px;
    left: 172px;
}
/* Sidebar */
.sidebar, .sidebar-men, .sidebar-brand, .sidebar-women, .sidebar-brand-women {
    width: 360px;
    background-color: var(--white);
}

.sidebar-login, .sidebar-like {
    border: var(--boder);
    background-color: #E9EEF8;
}

.sidebar-menu {
    background-color: #E9EEF8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #111;
    opacity: 0.5;
    overflow: hidden;
    z-index: 1000;
}

/* Sidebar-men */
.img-item-men {
    border-radius: 10px;
    overflow: hidden;
}

.item-men {
    position: relative;
}

.item-sidebar-men {
    width: 100px;
    position: absolute;
    top: 12%;
    left: 9%;
}

.more {
    position: absolute;
    bottom: 9%;
    left: 9%;
}

/* Menu-men desktop */
.menu-desktop {
    background-color: var(--white);
    height: auto;
}

.category-title {
    font-weight: 600;
    margin-top: 15px;
}
.desktop-layoutmenu,.item-men,.img-item-men {
    width: 100%;
    height: 100%;
}

.img-item-men img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.menu-desktop .brand-name:hover {
    color: var(--red);
}

.item-men {
    transition: all 0.3s;
}
.item-men:hover {
    cursor: pointer;
    transform: scale(1.08);
}
/* Popup-login,create */

#exampleModal .modal-header {
    padding: 16px 0;
    border: none;
}

.title {
    font-size: 20px;
    font-weight: 500;
}

.btn-login {
    padding: 12px 0;
    background-color:var(--black);
    color: var(--white);
    letter-spacing: 1.37px;
}

.btn-create {
    padding: 12px 0;
    background-color:var(--red);
    color: var(--white);
    letter-spacing: 1.37px;
}

.subtitle {
    font-size: 12px;
}

.subtitle:hover {
    color: var(--red);
}
.form-floating .form-control {
    height: auto;
}

.image {
    overflow: hidden;
    width: 100%;
    height: 100%;

}

.image img {
    height: 100%;
    object-fit: cover;
}

.infomation .btn {
    width: 100%;
    border: none;
    text-transform: uppercase;
}

.btn:focus {
    box-shadow: none;
}


/* Popup create account */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #111;
    opacity: 0.5;
    overflow: hidden;
    z-index: 1000;
    display: none;
}

.mb-10 {
    margin-bottom: 10px;
}
.btn-login:hover {
    opacity: 0.8;
}
.btn-create:hover {
    background-color: var(red);
    opacity: 0.8;
    color: var(--white);
}
/* thumbnail cart */
.offcanvas-end {
    width: 470px;
}
.item-cart-info {
    font-size: 14px;
}

.btn-up, .btn-down {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: var(--boder);
}

.btn-up:hover {
    background-color: #000;
    color: #fff;
}

.btn-down:hover {
    background-color: #000;
    color: #fff;
}

.amount-pro-thumbnail  {
    font-size: 12px;
}

.item-cart-info p {
    margin-bottom: 8px;
}

.price-cart-item {
    font-size: 14px;
    font-weight: 500;
    color: var(--red);
}
.navbar-icon button {
    border: none;
    background-color: #fff;
    color: var(--semi-black);
}

.oder {
    font-weight: 600;
}

.price-desc {
    font-weight: 500;
    color: var(--red);
}

.ship-title {
    font-size: 13px;
}

.total-price {
    font-weight: 600;
}

.btn-pay {
    border-radius: 5px;
    color: #fff;
    background-color: var(--black);
}

.btn-continue {
    border-radius: 5px;
    color: #fff;
    background-color: var(--red);
}

.btn-pay:hover {
    opacity: 0.8;
}

.btn-continue:hover {
    opacity: 0.8;
}

.capacity {
    color: var(--red);
}
/* Section slider */
#slider .heading {
    font-size: 24px;
    font-weight: 500;
}
#slider .item {
    overflow: hidden;
    box-shadow: none;
    height: 110px;
    border:var(--boder);
    border-radius: 15px;
    margin: 0 10px;
}

#slider .item img {
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    padding: 0 10px;
}
#slider .item:hover {
    border: 2px solid var(--red);
    
}

.menu-item-thumbalnail {
    max-height: 480px;
    
}

/* Section category-popular*/
#category-popular .gender-image {
    border-radius: 5px;
    overflow: hidden;
}

#category-popular .gender-image:hover{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

#category-popular .popular-item {
    font-size: 14px;
    background-color: var(--semi-white);
    margin-top: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#category-popular .popular-item:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}
/* Section sale */
#sale .sale-timer {
    width: 33px;
    height: 33px;
    color:var(--white);
    background-color: #000;
    border-radius: 5px;
    margin-left: 10px;
    line-height: 33px;
}

.item { 
    overflow: hidden;
    background-color: rgba(217,217,217,12%);
    margin-bottom: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.item:hover {
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-product {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.image-product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    margin: 0 10px;
}

.btn-view {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 14px;
    width: 60%;
    height: 15%;
    color: var(--white);
    background-color:var(--red);
}
  
.saleoff {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--red);
    align-items: center;
}

.btn-more {
    font-size: 14px;
}
.like {
    position: absolute;
    top: 2%;
    right: 5%;
}
.like:hover {
    opacity: 1;
    transform: scale(1.2);
}
.like-icon {
    color: var(--red);
    opacity: 0.2;
}
.saleoff p {
    font-size: 14px;
    margin: 0;
}

.image-product img {
    max-width: 100%;
    object-fit: cover;
}
 .price-sale, .price {
    color: var(--red);
 }

 .product-brand {
    font-weight: 500;
 }

 .product-name {
    font-size: 14px;
    font-weight: 300;
 }

 /* Section service */
 .service-item {
    height: 200px;
    padding: 30px 15px;
    background-color:var(--blue) ;
 }

 .service-item p {
    width: 80%;
   margin: 0 auto;
 }
/* popup fast-view */
#quickview-modal .modal-dialog {
    max-width: 750px;
}

.product-sale {
    opacity: 0.5;
} 

.btn-add-to-cart, .btn-check-out {
    font-size: 14px;
}
.supporter-image img {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.product-size p:hover {
    background-color: #212529;
    color: #fff;
    cursor: pointer;
}

.btn-minus-count, .btn-plus-count {
    cursor: pointer;
    background-color: #ddd;
}


.status {
    font-size: 14px;
}

.brand-name {
    font-weight: 500;
}
#mainCarousel {
    width: 100%;
    margin: 0 auto 1rem auto;

    --carousel-button-color: #170724;
    --carousel-button-bg: #fff;
    --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%),
        0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

    --carousel-button-svg-width: 20px;
    --carousel-button-svg-height: 20px;
    --carousel-button-svg-stroke-width: 2.5;
}

#mainCarousel .carousel__slide {
    width: 100%;
    padding: 0;
}

#mainCarousel .carousel__button.is-prev {
    left: -0.5rem;
}

#mainCarousel .carousel__button.is-next {
    right: -0.5rem;
}

#mainCarousel .carousel__button:focus {
    outline: none;
    box-shadow: 0 0 0 4px #a78bfa;
}

#thumbCarousel .carousel__slide {
    opacity: 0.5;
    padding: 0;
    margin: 0.25rem;
    width: 96px;
    height: 64px;
}

#thumbCarousel .carousel__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
}

#thumbCarousel .carousel__slide.is-nav-selected {
    opacity: 1;
}
 /* Section subcribe */

.banner-subcribe {
    width: 100%;
    background: url(/wed-project/img/newsletter_banner.webp) top center / cover no-repeat;
    height: auto;
}

#subcribe h4 {
    font-weight: 600;
    line-height: 1.5;
    background: linear-gradient(87.86deg, #E12222 16.32%, rgba(39, 48, 62, 0.51) 83.67%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.btn-subcribe {
    margin-left: 12px;
    padding: 8px 16px;
    border-radius: 7px;
    background-color: var(--black);
    color: var(--white);
}

.btn-subcribe:hover {
    opacity: 0.85;
}

.subcribe-info {
    max-width: 40.57rem;
    margin: 0 auto;
    min-height: 23.21rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Section for user */
#sale-for-user .item {
    background-color: var(--blue);
}
.banner-sale-user {
    width: 100%;
    height: 100%;
}
.banner-sale-user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Section blog */
.blog-info {
    height: 100%;
    background-color: var(--blue);
    padding: 12px 15px;
}

.time-blog {
    font-size: 12px;
}

#blog p {
    margin-bottom: 12px !important;
}

.image-blog {
    width: 100%;
    height: 100%;
}

.image-blog img {
    height: 100%;
    object-fit: cover;
}


.blog-item {
    overflow: hidden;
}
.blog-item:hover {
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.posts {
    font-size: 14px;
}
/* Footer */
#footer {
    background-color: #f4f4f4;
 }

 #footer a {
    color: var(--semi-black);
 }

 #footer a:hover {
    color: var(--red);
 }









































/* reponsive */
@media (max-width: 992px) {
    /* Header */
    .item-sidebar-men {
        font-size: 14px;
        
    }
    .brand-name {
        font-size: 12px;
        margin-bottom:6px;
    }
   
}

@media (min-width:992px) and (max-width:1200px) {
    /* Header */
    .brand-name {
        margin-bottom: 8px;
    }
    .price, .price-sale {
        font-size: 12px;
    }
    .product-brand, .product-name {
        margin-bottom: 12px;
    }
}

@media (min-width:568px) and (max-width:768px) {
    .tablet-none {
        display: none;
    }
}
@media (min-width: 768px) {
    .sidebar, .sidebar-men, .sidebar-brand,.sidebar-women, .sidebar-brand-women {
        display: none;
    }
    .menu-men-desktop,.menu-women-desktop {
        position: fixed;
        top: -70%;
        left: 0;
        width: 100%;
        height: 70%;
        overflow: hidden;
        z-index: 1001;
        transition: all 0.5s;
    }

    /* product */
    .btn-view {
        bottom: -20%;
        transition: all 0.5s;
    }

    .item:hover .image-product img{
        transform: scale(1.1);
        transition: all 0.5s;
    }

    .item:hover .btn-view {
        bottom: 0;
    }
}
@media (max-width: 768px) {
    /* Header */
    .hide {
        display: none;
    }
    .menu-bar {
        display: block;
    }
    .subnav {
        justify-content: space-between;
        margin: 0 -8px;
    }
    .logo {
        font-size: 34px;
    }
    .sidebar, .sidebar-men, .sidebar-brand, .sidebar-women, .sidebar-brand-women {
        position: fixed;
        top: 0px;
        left: -360px;
        width: 360px;
        height: 100vh;
        overflow: auto;
        z-index: 1001;
        transition: all 0.7s;
    }
    .menu-men-desktop {
        display: none;
    }
    .menu-women-desktop {
        display: none;
    }
    .subnav a {
        display: none;
    }
    .subnav-tablet {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .subnav-tablet p {
        margin: 0;
        padding: 8px 10px;
        color: var(--white);
    }
    .price, .price-sale {
        font-size: 12px;
    }
    .product-brand, .product-name {
        margin-bottom: 12px;
    }
    /* For user */
    #sale-for-user .product-price {
        font-size: 12px;
    }
    /* Banner subcribe */
    .form-subcribe {
        flex-wrap: wrap;
    }
    .btn-subcribe {
        margin:16px 0;
        width: 100%;
    }
    #subcribe h4 {
        font-size: 20px;
        margin: 0 12px;
    }
    /* popup quickview */
    .btn-view {
        display: none !important;
    }
}

@media (max-width: 576px) {
    body {
        margin: 0 10px;
    }
    /* header */
    .subnav {
        margin: 0;
    }
    .subnav-tablet p  {
        font-size: 12px;
    }
    #header .row>* { 
        width: 50%;
    }
    #header .row {
        padding: 0 10px;
    }
    .navbar-icon {
        display:none;
    }
    .logo {
        text-align: right;
    }
    /* Slider */
    #slider .heading {
        font-size: 20px;
    }
    /* flash-sale */
    .image-flashsale {
        width: 40%;
    }
    #sale .sale-timer {
        width: 25px;
        height: 25px;
        font-size: 14px;
        line-height: 25px;
    }
    /* For user */
    .product-user {
        display: none;
    }
    /* blog */
    .blog-item {
        flex-direction: column;
    }
    /* Footer */
    #footer p {
        text-align: center;
    }
    #footer .icon-footer {
        justify-content: center;
    }
    #footer .logo {
        text-align: center;
    }
}
/* Login, create */
@media (min-width:576px){
    #login .title {
        font-size: 16px;
    }
    .form-floating label, .btn-login{
        font-size: 14px;
    }
    .btn-create {
        font-size: 14px;
        margin-bottom: 16px;
    }
    .infomation {
        padding-right: 24px;
    }
}

@media (max-width:576px) {
    .popup-login {
        position: relative;
    }
    .btn-close {
        color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;
    }
    .image img {
        width: 100%;
    }
    .image {
        height: 220px;
    }

    .infomation {
        padding: 0 12px;
    }
    .btn-create {
        margin-bottom: 16px;
    }
}