*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    background-color: #f4f7fa;
    font-family: 'Roboto', sans-serif;
}
#main {
    max-width: 900px;
    margin: auto;
}
.button_back {
    margin: 15px 40px;
    text-decoration: none;
   
}
.button_back a {
    
    color: #fff;
    background-color: green;
    padding: 10px;
    text-decoration: none;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
}


.info {
    background-color: #fff;
    margin: 0 40px;
    padding: 16px 50px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    max-width: 900px;
}
h1  {
    font-weight: 500;
    text-align: center;
    padding: 15px 0;
}
.info h2 {
    font-weight: 500;
}
.info a {
    text-decoration: none;
    color: #007bff;
}
    

.info h2 {
    margin: 35px;
    
}
.info p {
    margin-bottom: 15px;
    line-height: 24px;
}
.info ul, .info ol {
    
    font-size: 16px;
    padding-left: 50px;
    line-height: 24px;
    margin-bottom: 25px;
}
.info li {
    
    font-weight: 400;
    margin-bottom: 8px;
}
.footer {
    display: flex;
    
    line-height: 2;
    background-color: #30598c;
    text-align: center;
    color:rgb(255, 255, 255);
    
    padding: 40px 94px;
    
}
.footer-item {
    flex-basis: 25%;
    text-align: left;
    line-height: 48px 30px;
    padding: 0 15px;
}
h2 {
   
    font-size: 18px;
    font-weight: 500;
}
h3 {
    font-size: 14px;
    font-weight: 400;
}
.footer a, .footer p{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
}