*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto';
}
img {
    max-width: 100%;
    display: block;
    margin: auto;
}
ul {
    list-style-type: none;
}
header {
    height: 60px;
    background-color: #30598c;
    padding: 0 15px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 4px 4px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img {
    width: 120px;
}
.avatar img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.side_bar {
    display: flex;
    align-items: center;
}
.menu > ul {
    display: flex;
}
.menu_item {
    height: 60px;
    position: relative;
    font-size: 15px;
    color: #fff;
    margin: 0 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.menu_item span {
    margin: 4px;
}
.menu_item:hover .sub_menu{
    display: block;
}
.sub_menu {
    position: absolute;
    top: 100%;
    right: 0;
    width: 200px;
    background-color: #fff;
    box-shadow: 0 0 10px rgb(0 0 0 / 15%);
    display: none;
}
.sub_menu_item {
    font-size: 15px;
    color: rgb(70, 70, 70);
    padding: 11px 16px;
    text-align: center;
}
.sub_menu_item:hover {
    background-color: #c4c4c4;
    color: #fff;
}
.card_item {
    position: relative;
    margin-right: 20px;
}

.icon_shopping {
    color: #fff;
    font-size: 25px;
}
.card_number {
    color: #fff;
    background-color: #26a69a;
    padding: 2px 3px;
   border-radius: 3px;
   font-size: 13px;
   position: absolute;
   top: -8px;
    left: 19px;
}
.card img {
    width: 100%;
    display: block;
    height: 220px;
    object-fit: cover;
}
.list_card {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    padding: 50px;
    max-width: 1150px;
    
}




.card {
    width: 320px;
    margin: 15px;
    
    box-shadow: 0 2px 4px rgb(0 0 0 / 15%);
    border-radius: 4px;
    overflow: hidden;
}

.content {
    padding: 16px 24px 0;
}

.content a {
    font-size: 19px;
    font-weight: 400;
    color: #464646;
    margin-bottom: 16px;
}

.content p {
    font-size: 14.4px;
    line-height: 21.6px;
    font-weight: 100;
    color: #757575;
    padding: 15px 0;
}

.content p span {
    color: #ffd600;
}

.info {
    display: flex;
    justify-content: space-between;
    
}
.footer {
    display: flex;
    
    line-height: 2;
    background-color: #30598c;
    text-align: center;
    color:rgb(255, 255, 255);
    
    padding: 40px 94px;
    
}
.footer-item {
    flex-basis: 25%;
    text-align: left;
    line-height: 48px 30px;
    padding: 0 15px;
}
h2 {
   
    font-size: 18px;
    font-weight: 500;
}
h3 {
    font-size: 14px;
    font-weight: 400;
}
a, p{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
}