*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer {
    
    display: flex;
    
    background-color:rgb(48, 89, 140);
    
    
    color:rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    padding: 25px 15px;
}
.footer .footer-item  {
    flex-basis: 25%;
    line-height: 35px;
    text-align: left;
    margin-left: 30px;
}
h2 {
    
    font-size: 18px;
    font-weight: 500;
}
h3 {
    font-size: 14px;
    font-weight: 400;
}
a, p{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: 400;
}