@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

button {
    cursor: pointer;
}

/* Giỏ hàng */
.product-item .image img {
    width: 200px;
    height: 150px;
    object-fit: cover;
}
