@import url(./base.css);

.checkout-info {
    background-color: #F5F5F5;
    padding: 16px;
    height: 100%;
}

.title-checkout {
    font-weight: 500;
}

.form-payment {
    border:var(--boder);
}

.form-check {
    margin: 0 16px;
}

.bill-icon {
    font-size: 35px;
}

.list-product {
     max-height: 600px;
}
.item-checkout {
    margin: 16px 0;
    overflow: hidden;
}

.product-thumbnail-wrapper {
    width: 55px;
    height: 55px;
    border-radius: 5px;
    position: relative;
    background-color: #fff;
    margin-top: 0.75em;
}

.product-thumbnail-quantity {
    position: absolute;
    top: -0.75em;
    right: -0.75em;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: #757575;
}

.product-name-checkout, .price {
    font-size: 14px;
}

.mil {
    color: var(--red);
    font-size: 12px;
}

.price, .sub-total-money, .shipping-money, .total-money {
    
    font-weight: 600;
    color: var(--red);
}

.form-discount {
    overflow: hidden;
    width: 100%;
}

.btn-apply:hover {
    opacity: 0.8;
}

.btn-oder {
  padding: 15px 30px;
  color: #fff;
  background-color: var(--red);
  border-radius: 5px ;
}

.discount-input {
    flex-basis: 70%;
}

.btn-dark {
    flex-basis: 30%;
}





/* Reponsive */
@media (min-width:768px) {
    .oder-mobile{
        display: none !important;
    }
}
@media (max-width:768px) {
    .layout-checkout {
        flex-direction: column-reverse;
    }
    
    #checkout p {
        font-size: 80%;
    }
    .form-check label,.btn-apply,.form-floating label, .form-select, .btn{
        font-size: 14px;
    }
     
    .oder-desktop {
        display: none;
    }

    .btn-oder {
        padding: 15px 50px;
        font-size: 14px;
    }

    .shopping-continue {
        margin-top: 20px;
    }
}

