@import url(./base.css);


/* Section 1 */
.option-more-brand {
    height: 250px;
    overflow: auto;
}

.unchecked {
    padding: 2px 5px;
    border: var(--boder);
}

.form-check {
    margin-bottom: 8px;
}

.menu {
    font-size: 14px;
    
}

.form-select {
    font-size: 12px;
    width: auto;
}

.heading-product p{
    margin: 0;
}
.item { 
    overflow: hidden;
    background-color: rgba(217,217,217,12%);
    margin-bottom: 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.item:hover {
    box-shadow: 1px 4px 4px rgba(0, 0, 0, 0.25);
}

.image-product {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.image-product img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.product-info {
    margin: 0 10px;
}

.btn-view {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    font-size: 14px;
    width: 60%;
    height: 15%;
    color: var(--white);
    background-color:var(--red);
}

  
.saleoff {
    position: absolute;
    top: 2%;
    left: 5%;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    background-color: var(--red);
    align-items: center;
}

.like {
    position: absolute;
    top: 2%;
    right: 5%;
}
 
.like-icon {
    color: var(--red);
    opacity: 0.2;
}
.saleoff p {
    font-size: 14px;
    margin: 0;
}

.image-product img {
    max-width: 100%;
    object-fit: cover;
}
 .price-sale, .price {
    color: var(--red);
 }

 .product-brand {
    font-weight: 500;
 }

 .product-name {
    font-size: 14px;
    font-weight: 300;
 }

.filter-option p{
    padding: 2px 5px ;
    border: var(--boder);
    margin-right: 10px;
}

.btn-close {
    width: 10px;
    height: 10px;
    padding: 2px;
}
/*  Footer*/
#footer {
    background-color: #f4f4f4;
 }

 #footer a {
    color: var(--semi-black);
 }

 #footer a:hover {
    color: var(--red);
 }



/* reponsive */
@media (max-width: 992px) {
    .brand-name {
        font-size: 14px;
        margin-bottom: 10px;
    }
}

@media (min-width:992px) and (max-width:1200px) {
    .price, .price-sale {
        font-size: 12px;
    }
    .product-brand, .product-name {
        margin-bottom: 12px;
    }
}

@media (min-width:768px) and (max-width:992px) {
    .row {
        --bs-gutter-x:1rem
    }
    .product-name, .product-price, .menu,.form-check {
        font-size: 12px;
    }
    .product-amount,.filter-option, .filter-title, .accordion-button {
        font-size: 14px;
    }
}
@media (min-width:568px) and (max-width:768px) {
    .tablet-none {
        display: none;
    }
}
@media (min-width: 768px) {
    .sidebar, .sidebar-men, .sidebar-brand,.sidebar-women, .sidebar-brand-women {
        display: none;
    }
    .menu-men-desktop {
        position: fixed;
        top: -70%;
        left: 0;
        width: 100%;
        height: 70%;
        overflow: hidden;
        z-index: 1001;
        transition: all 0.5s;
    }
    /* Btn view */
    .btn-view {
        bottom: -20%;
        transition: all 0.5s;
    }

    .item:hover .image-product img{
        transform: scale(1.1);
        transition: all 0.5s;
    }

    .item:hover .btn-view {
        bottom: 0;
    }
}
@media (max-width: 768px) {
    
    /* Section 1 */
    .breadcrumb  {
        font-size: 10px;
    }
    h3 {
        text-align: center;
        margin-top: 14px;
    }
}

